@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background: linear-gradient(135deg,rgba(230, 0, 247, 0.8) 30%, rgba(23, 78, 207, 0.687) 90%), url('/bg.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	/* background-color: #686279; */
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}